section h2 {
	margin-bottom: 10px;
}

#upload-div {
	display: flex;
	align-items: center;
}

#upload-div label {
	background-color: var(--base-color);
	color: var(--main-color);
	border: 0;
	padding: 5px;
	border-radius: 15px;
	font-size: small;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

#upload-div label:hover {
	transform: translateY(-3px);
}

#upload-div label:active {
	transform: translateY(0);
	background-color: var(--accent-color);
}

#upload-div input[type="file"] {
	display: none;
}

#upload-div p {
	padding: 5px;
	font-size: small;
}

#upload-button-div {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

#upload-button-div button {
	background-color: var(--accent-color);
	width: 20%;
}

#upload-button-div button:active {
	background-color: var(--base-color);
}
