<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>ファイル | filup_http</title>
		<link href="assets/css/theme.css" rel="stylesheet" />
		<link href="assets/css/files.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="header-container">
				<h1>filup_http</h1>
				<nav>
					<ul>
						<li><a href="/">トップ</a></li>
						<li><a href="/upload">アップロード</a></li>
						<li><a href="/files">ファイル</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section>
				<h2>ファイル一覧</h2>
				<div id="item-list">
					{% for file in files %}
					<div id="item-container">
						<p id="filename">{{ file.filename }}</p>
						<div id="button-container">
							<button
								onclick="onClickDownload('{{ file.path }}')"
							>
								Download
							</button>
							<button onclick="onClickRemove()">Remove</button>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>
		</main>
		<script src="assets/js/files.js"></script>
	</body>
</html>
