<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>トップページ | filup_http</title>
		<link href="assets/css/root.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<div class="header-container">
				<h1>filup_http</h1>
				<nav>
					<ul>
						<li><a href="/">トップ</a></li>
						<li><a href="/upload">アップロード</a></li>
						<li><a href="/files">ファイル</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<a href="/upload">
				<section id="upload">
					<h2>アップロード</h2>
					<p>ファイルをアップロードできます。</p>
				</section>
			</a>
			<a href="/files">
				<section id="files">
					<h2>ファイル</h2>
					<p>
						ファイルの一覧を確認したり、ダウンロードやファイルの削除ができます。
					</p>
				</section>
			</a>
		</main>
	</body>
</html>
