<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>アップロード | filup_http</title>
		<link href="assets/css/upload.css" rel="stylesheet" />
		<style>
			@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
		</style>
	</head>
	<body>
		<header>
			<div class="header-container">
				<h1>filup_http</h1>
				<nav>
					<ul>
						<li><a href="/">トップ</a></li>
						<li><a href="/upload">アップロード</a></li>
						<li><a href="/files">ファイル</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<main>
			<section id="upload">
				<h2>アップロード</h2>
				<div id="upload-div">
					<label>
						<input
							type="file"
							id="fake-input-file"
							onchange="onChangeFileChooser()"
						/>
						ファイルを選択
					</label>
					<p id="filename">選択されていません</p>
				</div>
				<div id="upload-button-div">
					<button class="button" onclick="onClickSubmitButton()">
						アップロード
					</button>
				</div>
			</section>
		</main>
		<script src="assets/js/upload.js"></script>
	</body>
</html>
